<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:txt="#{create.title}"></title>
	<!-- テキストエディタ「Quilljs」のライブラリ -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <!-- Quillカスタマイズjs -->
    <script src="/js/quillCustom.js" th:src="@{/js/quillCustom.js}"></script>
    
     <link href="/css/create.css" th:href="@{/css/create.css}" rel="stylesheet"></link>
</head>
<body>
	<input type="text" id="title" placeholder="タイトル">
    <div id="quill-editor_1"></div>
    <script>
      // 通常のエディタ
      var quill_1 = QuillEditorMake("quill-editor_1")
    </script>
</body>
</html>